{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'create_receipt' %}">Create Receipt</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div>
                <a href="{% url 'signup' %}">Signup</a>
                <a href="{% url 'login' %}">Login</a>
            </div>
            {% endif %}
        </nav>
    </header>
    <main>
    {% block content %}
    {% endblock content %}
    </main>
</body>
</html>
